<h1>DB Tiles</h1>

{{> productswidget}}

{{!-- {{#each tiles}}
<div class="tile">
    <h3>{{id}}. {{name}}</h3>
    <p>{{length}} x {{width}}</p>
    {{#if inStock}}
    <span class="price">{{price}}</span>
    <a href="/cart/add?id={{id}}" class="btn btn-primary">Buy Now!</a>
    {{else}}
    <span class="outOfSeason">Out of stock!
        {{! The "notify me when this vacation is in season"
page will be our next task. }}
        <a href="/notify-me-when-in-stock?id={{id}}">Notify me when this tile is back in stock.</a>
        {{/if}}
</div>
{{/each}} --}}